body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://www.bmw-sg.com/wp-content/uploads/2022/05/A9202300.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar {
  background-color: silver;
}
.navbar-brand {
  color: black;
}
.nav-link {
  color: black;
}
.title {
  color: #55505c;
  font-family: 'Times New Roman', serif;
  text-decoration: underline overline;
  text-decoration-color: #404E5C;
  text-shadow: 2px 1px silver;
}
.lead {
  border: 5px;
  border-style: groove;
  border-color: orange;
  box-shadow: 3px 3px 3px 5px darkolivegreen;
  padding: 10px;
  margin: 5px;
  color: orange;
  text-shadow: 2px 2px 2px black;
  font-weight: 600;
  font-family: aclonica;
  font-size: 20px;
  animation: mymove 5s infinite;
  background-color: rgb(180, 179, 179);
  opacity: 80%;
}
@keyframes mymove {
  50% {box-shadow: 10px 20px 30px #3A506B;}
}
.extra {
  width: 1200px;
  height: 1200px;
  overflow-y: scroll;
}
.model-text {
  color: gold;
  font-family: cursive;
  text-shadow: 2px 2px 2px black;
  font-weight: 600;
  font-size: 16px;
}
.header-title {
  text-align: center;
  text-shadow: 2px 2px 2px rgb(255, 217, 2);
  color: #260c1a;
  font-size: 50px;
  animation: bmwmove 5s infinite;
}
.header-title-manufacturer {
  margin: 20px;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(255, 217, 2);
  color: #260c1a;
  font-size: 50px;
  animation: bmwmove 3s infinite;
}
.table-head {
  color: #260c1a;
  font-family: cursive;
  font-size: 21px;
  text-shadow: 2px 2px 2px #AC7B84;
  font-weight: 600;
}
.w-100 {
  width: 50% !important;
  height: 25%;
}
.carousel img {

  margin: auto;

}
.slide-label {
  color: silver;
  text-shadow: 2px 2px 2px red;
}
.description-text {
  color: orange;
  text-shadow: 2px 2px 2px black;
  font-weight: 500;
  font-family: sans-serif;
}
.card {
  height: flex;
  width: flex;
  background-color:transparent;
  border:none;
}
.card-img-top {
  height: 200px;
  width: 200px;
}
.col {
  width: 300px;
  height: 300px;
}

.imgButton{
  text-align:center;
}
.dropdown-menu {
  background-color: transparent;
  border: none;
}

.serviceImg {
  width: 80px;
  height: 70px;
  padding: 0px;
  margin: -12px;
}
